@model List<AdminUser>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                ADMIN LIST
            </h2>
        </div>
        <div class="col-6 text-end mb-2">
            <a asp-controller="Admin" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-person-fill-add"></i>  NEW ADMIN
            </a>
        </div>
    </div>
</div>

<div class="col-12">
    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
        <tr>
            <th>
                USERNAME
            </th>
            <th>
                FIRST NAME
            </th>
            <th>
                LAST NAME
            </th>
            <th>
                TYPE
            </th>
            <th>
                ACTION
            </th>
        </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/admin.js"></script>
}