<div class="container">
    <div class="row align-items-center my-5">
        <div class="col-md-6">
            <img src="~/images/firstpage/couple.jpg" alt="Couple Image" class="img-fluid" />
        </div>
        <div class="col-md-6">
            <div>
                <h2 class="display-4">BAGGY WORLD</h2>
                <p class="lead">Explore our collection of chic streetwear, featuring the latest styles.</p>
                <a asp-action="Products" class="btn btn-primary">VISIT</a>
            </div>
        </div>
    </div>

    <div class="row align-items-center my-5 align-text-with-image">
        <div class="col-md-6">
            <div>
                <h2 class="display-4">MEN</h2>
                <p class="lead">Introducing our stylish men's street outfit, perfect for any urban setting. Comfortable, trendy, and versatile.</p>
                <a asp-action="Gender" asp-route-gender="M" class="btn btn-primary">VISIT</a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/images/firstpage/guy.jpg" alt="Men Image" class="img-fluid" />
        </div>
    </div>

    <div class="row align-items-center my-5">
        <div class="col-md-6">
            <img src="~/images/firstpage/girl.jpg" alt="Women Image" class="img-fluid" />
        </div>
        <div class="col-md-6">
            <div>
                <h2 class="display-4">WOMEN</h2>
                <p class="lead">Introducing our sophisticated and adaptable women's urban wear, crafted to enhance your city fashion.</p>
                <a asp-action="Gender" asp-route-gender="F" class="btn btn-primary">VISIT</a>
            </div>
        </div>
    </div>
</div>
